---
layout: default
title: Parade order
---

<div class="row">
  <div class="col">
    <h1>2024 Parade Broadcast Book</h1>
    <div class="alert alert-danger text-center">
      <span class="lead fw-bolder">
        This resource will be finalized and available on
        <strong>Saturday, September 6th, 2025</strong>.
      </span>
    </div>
    <p>In addition to the contingent provided self-description, contingents were also asked: <em>Are there any people you would like to honor that have made strides for your organization for LGBTQ+ causes or otherwise?</em></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <ol>
      {% for contingent in site.data.parade_2025 %}
      <li>
        <a href="#contingent_{{contingent.order}}"
          >{{ contingent.name }}</a
        >
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
<div class="row row-cols-1">
  {% for contingent in site.data.parade_2024 %}
  <div id="contingent_{{contingent.order}}" class="col">
    <div class="border-bottom border-1 border-secondary-subtle-b m-1 p-2">
      <h2>{{contingent.order}} &mdash; {{ contingent.name }}</h2>
      <p
        class="badge {%if contingent.category == 'Sponsor' %}bg-secondary border border-1 border-danger{% endif %}{%if contingent.category == 'Political/Government' %}bg-secondary border border-1 border-warning{% endif %}{%if contingent.category == 'Community Group' %}bg-success{% endif %}{%if contingent.category == 'Mid-Range Nonprofit' %}bg-info{% endif %}{%if contingent.category == 'Campaigning Politician' %}bg-warning text-dark{% endif %}{%if contingent.category == 'Government Agency/Political Group' %}bg-primary{% endif %} {%if contingent.category == 'Local Nonprofit' %}bg-secondary{% endif %}"
      >
        {{ contingent.category }}
      </p>
      {% if contingent.description != blank? %}
      <p class="lead">{{ contingent.description }}</p>
      {% endif %}
      {% if contingent.honor != blank? %}
      <hr />
      <p>Honor:</p>
      <p>{{ contingent.honor}}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
