---
layout: default
title: Oakland Pride Parade
---

<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <p class="h3">Sunday, September 7th, 2025<br />11am until ~1pm</p>
    </div>
  </div>
  <hr class="text-primary border-5" />

  {% include welcome.html %}

  <div class="row mt-3">
    <div class="col">
      <figure class="figure">
        <img src="https://imagedelivery.net/MvzNvpp4M2t9qtNhV8DSHQ/f6ddeeb4-e41b-4148-42bd-b74f12651900/public" alt="" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-end">Parade and Festival Area Map</figcaption>
    </figure>
    </div>
    <div class="col text-center">
      <figure class="figure">
        <img class="figure-img img-fluid rounded" src="https://imagedelivery.net/MvzNvpp4M2t9qtNhV8DSHQ/211707ad-dbb0-4867-42d8-f4240e6fc800/public" alt="">
        <figcaption class="figure-caption text-end">Festival Area</figcaption>
    </figure>
    </div>
  </div>
</div>

<div class="container mt-5 d-none">
  {% include street_closures.html %}
  <div class="row">
    <div class="col lead">
      <p>Thank you to everyone who joined us in making Oakland Pride 2024 a resounding success! Our volunteer parade team couldn't have done it without your incredible support. Your energy, enthusiasm, and dedication helped create a truly unforgettable experience for all.</p>
      <p>We are grateful to our volunteers who gave their time and effort to make this event happen. Your hard work and commitment are invaluable.</p>
      <p>To our community partners, sponsors, and supporters: Your contributions were instrumental in bringing this celebration to life. Thank you for your unwavering support.</p>
      <p>We look forward to seeing you all again next year for another amazing Oakland Pride!</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col col-9 mx-auto">
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://customer-6421cb6rzkusrqvg.cloudflarestream.com/cddfdf1efb6f6302673e0ca4e2c72923/iframe?poster=https%3A%2F%2Fcustomer-6421cb6rzkusrqvg.cloudflarestream.com%2Fcddfdf1efb6f6302673e0ca4e2c72923%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&title=2024+Oakland+Pride+Parade&logo=https%3A%2F%2Fimagedelivery.net%2FMvzNvpp4M2t9qtNhV8DSHQ%2Fb1f17030-f128-4754-113f-33632c17fc00%2Fpublic"
          loading="lazy"
          style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
          allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
      </div>
    </div>
  </div>
</div>