<h3>If your contingent is going to the festival</h3>
<p>
  As you reach the end of the Parade you will come to the dispersal area in between 12th
  and 13th. Marchers stay to the right to exit the Parade route and enter the main
  entrance on 12th.
</p>
<p>
  Vehicles letting passengers off will stay to the left until they cross 12th, then move
  to the right to stop in the designated area. Once passengers have disembarked vehicles
  will proceed, turning left on 13th and leaving the Parade and festival area.
</p>
<hr />
<h3>If your contingent is not going to the festival</h3>
<p>
  As you reach the end of the Parade you will come to the dispersal area in between 12th
  and 13th, stay to the left, eventually turning left on 13th and leaving the Parade and
  festival area.
</p>
