<div class="card p-3">
  <p>Hello <strong>{{page.name}}</strong>!</p>
  <p>Thank you for joining us this weekend, Sunday September 7th for our 15th Annual Pride Parade!</p>
  <p>
    On this page you will find your lineup number, your lineup location in the Assembly
    Area, and a suggested time of arrival to guarantee everyone will be present and ready
    to start the Parade right at 11:00 AM.
  </p>
  <p>You may want to bring the following with you:</p>
  <ul>
    <li>Comfortable footwear and socks</li>
    <li>a small snack to eat while waiting</li>
    <li>a bottle or two of water to make sure you are hydrated</li>
    <li>any regular medications that you take</li>
    <li>sunglasses and/or a hat</li>
    <li>sunscreen and lip balm</li>
  </ul>
  <p>
    Leave valuables at home, make smart choices about drinking and substance use, and pay attention to where you are and where you are
    going.
  </p>
  <p>Above all, let's have a great Oakland Pride Day Parade and Celebration!</p>
  <span>&ndash;&ndash;</span>

  <div class="row row-cols-3">
    <div class="col">
      <p>Marsha H. Levine<br /><em>Treasurer</em></p>
    </div>
    <div class="col">
      <p>Chris Robert<br /><em>Board Member</em></p>
    </div>
  </div>
</div>
