---
---

:root {
  --bs-primary: #005E00;
  --bs-secondary: #967BB6;
  --bs-primary-rgb: 0, 94, 0;
  --bs-secondary-rgb: 150, 123, 182;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bungee+Shade&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Redacted+Script:wght@300;400;700&display=swap');
body {font-family: 'Atkinson Hyperlegible', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family: 'Open Sans', sans-serif;}
.font-atkinson {font-family: 'Atkinson Hyperlegible', sans-serif;}
.font-opensans {font-family: 'Open Sans', sans-serif;}
.font-bungeeshade {font-family: 'Bungee Shade', cursive;}
.font-redacted {font-family: 'Redacted Script', cursive;}